<!DOCTYPE html>
<html>
    <head>
        <title>AVAS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      </head>
    <body>
        <span id="response_a"></span>
        <span id="response_b"></span>
        <script>
            $(function(){
                var url_a = "https://cdn-api.co-vin.in/api/v2/admin/location/states"
                var url_b = "https://cdn-api.co-vin.in/api/v2/admin/location/districts/21"

                $.ajax({
                    url: url_a,
                    method: "GET",
                    data: {}
                }).done(function( data ) {
                    $( "#response_a" ).text(data);
                }).fail(function( jqXHR, textStatus ) {
                    $( "#response_a" ).text( "Request failed: " + textStatus );
                });

                $.ajax({
                    url: url_b,
                    method: "GET",
                    data: {}
                }).done(function( data ) {
                    $( "#response_b" ).text(data);
                }).fail(function( jqXHR, textStatus ) {
                    $( "#response_b" ).text( "Request failed: " + textStatus );
                });

                
            });
        </script>
    </body>
</html>