<!DOCTYPE html>
<html>
    <head>
        <title>AVAS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="app.css">

        <script>
            
        </script>
    </head>
    <body>
        <div class="parent_container">
            <form action="#" id="search_form">
                <div class="search_panel select_panel">
                    <div class="select_container">
                        <select id="states_select">
                            <option value="">Select State</option>
                        </select>
                    </div>
                    <div class="select_container">
                        <select id="district_select"></select>
                    </div>
                </div>
                <div class="search_panel result_panel">
                    <span id="district_id_result"></span>
                </div>
            </form>
        </div>

        <div id='dialog'><span>Loading...</span></div>

        <script src="app.js"></script>
    </body>
</html>